@import "./colors.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  background-color: $background;
  color: $primary;
  text-transform: lowercase;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  width: 100%;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 1em;
}

video,
a {
  &:active,
  &:focus {
    outline: 2px solid $primary;
  }
}

#watch-videoArea {
  max-width: 100%;
  max-height: 85%;
  margin: 0 auto;
}

#watch-error {
  box-shadow: 5px 5px 0px 0px $error;
  background-color: lighten($error, 45%);
  color: $error;
  max-width: 50%;
  margin: 0 auto;

  &::before {
    display: inline-block;
    content: "error:";
    font-weight: bold;
    margin-right: 1ch;
  }
}

#watch-videoTitle {
  box-shadow: 5px 5px 0px 0px $primary;
  color: $primary;
  background-color: $background;
}

#watch-videoPlayer {
  background-color: black;
  max-width: 100%;
  max-height: 70vh;
  box-shadow: 5px 5px 0px 0px $primary;
  margin: 1em 0;
}

#watch-videoData ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#watch-videoData ul li a {
  &,
  &:visited {
    color: white;
  }

  &:hover,
  &:active {
    color: $primary;
  }
}

footer {
  text-align: right;
}

.hidden {
  display: none;
}

.page {
  padding: 1em;
}
