$colorPrimary: #afb0b2;
$colorSecondary: #d65656;
$colorThree: #3d70ab;
$colorFour: #767676;
$colorFive: #2b2b2b;

body {
  font-family: "Arial", Arial, Helvetica, sans-serif;
  background-color: $colorFive;
  color: $colorPrimary;
}

a,
a:visited {
  color: $colorThree;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: $colorSecondary;
}

.videoTitle h2 {
  color: $colorSecondary;
}

.videoDetails ul {
  list-style-type: none;
}

.videoDetails ul li {
  display: inline-block;
  margin: 0.5em;
}

video {
  border-bottom: 2px solid $colorSecondary;
  padding: 0.1em;
  padding-bottom: 0;
  background-color: black;
  min-width: 500px;
  min-height: 260px;
}
