@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "./variables";
@import "./layout";
@import "./gallery.scss";

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: $colorBackground;

  font-family: "Courier New", Courier, monospace;
  color: $colorPrimary;
  place-items: center;
}

h2 small {
  font-size: 0.7em;
  font-weight: normal;
}

a,
a:visited {
  color: $colorLinks;
  font-weight: bold;
  text-decoration: none;

  text-transform: uppercase;
}

a:hover {
  color: $colorSecondary;
  text-align: center;
  text-decoration: underline;
}

.videoTitle h2 {
  color: $colorPrimary;
  margin: 0.25em;
  font-size: 2.5vh;
}

.inline-list {
  list-style-type: none;
  padding: 0;
}

.inline-list li {
  display: inline-block;
  margin: 0.5em;
}

.inline-list dt:before {
  content: "";
  display: block;
}
.inline-list dt,
.inline-list dd {
  display: inline;
}

.inline-list dt:after {
  content: ":";
}

.inline-list dd {
  margin-left: 0.75em;
}

.label {
  background-color: lighten($colorBackground, 20);
  border: 0.05em solid rgba($colorSecondary, 0.6);
  padding: 0.1em;
  font-weight: bold;
}

video {
  min-width: 150px;
  min-height: 150px;
  max-width: 85%;
  max-height: 70vh;
  background-color: lighten($colorBackground, 10%);
  object-fit: contain;
}

video:not(:fullscreen) {
  border: 1px solid rgba($colorSecondary, 0.5);
}

#main {
  //display: flex;
  align-items: center;
  justify-content: center;
}

#tuckie-boy {
  cursor: grab;

  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

header,
footer {
  text-align: center;
}

header {
  width: 100%;
  letter-spacing: 0.2ch;
  text-transform: uppercase;

  div {
    display: inline-block;
  }

  .siteTitle {
    margin-right: 0.5em;
  }

  .siteComment {
    font-size: 1.7em;
    color: $colorSecondary;
  }
}

footer {
  margin: 1em;
  font-size: 0.8em;
}

.content {
  text-align: center;
}

video:focus {
  outline: none;
}

.dot-tv {
  font-size: 0.7em;
  font-weight: bold;
  letter-spacing: normal;
  color: rgba($colorPrimary, 0.6);
}

.loader {
  border: 0.5em solid #f3f3f3;
  border-top: 0.5em solid $colorPrimary;
  border-right: 0.5em solid $colorSecondary;
  border-bottom: 0.5em solid $colorLinks;
  border-left: 0.5em solid $colorFour;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation: spin 2s linear infinite;
  margin: 1em auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tuckerGallery {
  max-width: 40%;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

dt {
  font-weight: bold;

  dt,
  h2 small {
    white-space: nowrap;
  }
}

.contactPage {
  p {
    text-align: justify;
  }
}

@media (max-width: 1024px) {
  header {
    .siteComment {
      font-size: 1.05em;
    }
  }

  h1 {
    font-size: 1.2em;
  }

  .videoTitle h2 {
    font-size: 1em;
  }

  .videoTitle {
    margin-bottom: 1em;
  }

  .inline-list {
    font-size: 0.95em;
  }
}
