<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tuckbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script>
      console.log(`Built on ${new Date()}`);
    </script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=<%= process.env.GOOGLE_ANALYTICS_TRACKING_ID %>"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "<%= process.env.GOOGLE_ANALYTICS_TRACKING_ID %>", {
        page_path: location.pathname + location.hash,
      });
    </script>
  </head>
  <body>
    <div id="main">
      Application loading...

      <noscript>
        Please note that JavaScript _MUST_ be enabled for this application to
        work. Please enable it and refresh the page.
      </noscript>
    </div>
  </body>
</html>
